<!-- 
<!DOCTYPE html>
<html>
<head>
    

    <link rel="stylsheet" href="C:\Users\shenk\AngularTraining\src\app\app.component.scss">

    </head>





   
    <body> 
        <img src="C:\Users\shenk\AngularTraining\src\assets\Image\Coffee-beans-roasting.webp">
        <a href="https://google.com" >Go to Google</a>        
        
        <h1>simple 1st file </h1>
        <p> Tags are individuals of html structure, we have to open and close any tag with a forward slash like this  There are some variations with the tag some of them are self-closing tag which isn’t required to close and some are empty tag where we can add any attributes in it.</p>
<ol>
    <li>Mango</li>
    <li>banana</li>
    <li>dragenfruits</li>
</ol><hr>
<ul type="square">
    <li>shubhangi</li>
    <li>pankaj</li>
    <li>reshma</li>
    <li>Yogesh</li>
    </ul>
    <hr>
    <table border="2">
        <tr>
            <th>SR No</th>
            <th>Name</th>
            <th>Contact</th>
        </tr>
        <tr>
        <td>image</td>
        <td>shubhangi</td>
        <td>12345</td>
        </tr>
        <tr>
            <td>image2</td>
            <td>Pankaj</td>
            <td>6789</td>
            </tr>
            <tr>
                <td>image3</td>
                <td>Reshma</td>
                <td>13243546</td>
                </tr>

        
        </table>
        </body>
        
         
   
</html>        
 -->
<html>
    <head>
        <title>Navbar</title>
        <link rel="stylesheet" href="C:\Users\shenk\AngularTraining\src\app\style.css">
            </head>
            <body>
                <header>
                   
                    <a class="logo" href="#"><button>logobakery</button></a>
                    <nav>
                        <ul class="nav_links">
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Project</a></li>
                            <li><a href="#">about</a></li>
                            </ul>
                            </nav>
                            <a class ="cta" href="#"><button>Contact</button></a>
                            </header>
                            
                        </body>
                </html>